* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {

    height: 140vh;
    width: 100%;
    background-color: black;
}

#main .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 90%;
    /* background-color: aqua; */
    margin: 0 auto;
}

.nav .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    /* background-color: aliceblue; */
}

.nav .left a {
    font-size: 20px;
    color: white;

    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 20px;

}

.nav .left img 
{
    height: 70px;
    width: fit-content;
    background-color: antiquewhite;
    rotate: -10deg;
}
.nav .left h4{
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    color: white;
}

.nav .right {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 50%;
}
.nav .right img{
    padding:5px;
    border: 2px solid white;
    border-radius: 100%;
}


.nav .right a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
}

#main .line {
    width: 90%;
    height: 3px;
    margin: 0 auto;
    background-color: white;
}

#main .second {
    display: flex;
    height: 50%;
    width: 100%;
    /* background-color:wheat; */
}

#main .second .left {
    display: flex;
    align-items: center;
    /* justify-content:; */
    flex-direction: column;
    padding-top: 60px;
    height: 100%;
    width: 50%;
    /* background-color: aquamarine; */
}

#main .second .left h1 {
    font-size: 6rem;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
}

#main .second .img {
    display: flex;
    align-items: center;
    width: 90%;
    margin-bottom: 50px;
    margin-left: 60px;
}

#main .second .img img {
    height: 110px;
    width: 15%;
    border-radius: 100%;
    object-fit: cover;
    background-position: bottom;
    margin-right: -20px;
    border: 6px solid black;
}

#main .second .img h1 {
    margin-left: 25px;
}

.second .left>.line {
    height: 2px;
    width: 80% !important;
    background-color: gray !important;
    opacity: .4;
    margin: 0px 60px;


}

.second .left .text {
    height: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aliceblue; */
}

.second .left .text h4 {
    font-size: 22px;
    font-weight: 500;

    text-transform: uppercase;
    word-spacing: 1;
    color: white;
}

#main .second .right
 {
    display: flex;

    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-top: 60px;
    margin: 0 auto;
}
#main .second .right .box
{  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;
    width: 90%;
    background-color: #e7a9ee;
    position: relative;
    border-radius: 25px;
    background-image: url('../image/pink.png');
    background-position:0 40%;
    background-size: cover;
    background-repeat: no-repeat;
}
#main .second .right .box h4{

    /* background-color: red; */
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 40px 30px;
}
#main .second .right .box button
{   display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 800;
    border: 3px solid ;
    padding: 10px 20px;
    border-radius: 100px;
    text-transform: uppercase;
    background: transparent;
    color:white ;
}
#main .second .right .box button i{
    font-size: 40px;
    /* color: black; */
    color: white;
}

#main .second .right .box .side
{   display: flex;
    align-items: self-start;
    justify-content: center;
    height: 60px;
    width: 150px;
    background-color:black;
    position: absolute;
    padding-top: 20px;
    right: 0%;
    top: 0;
}
#main .second .right .box .side i{
    /* padding-left: 60px; */
    /* margin-left: 20px; */
    color: white;

}

#main .second .right .box .side .cir
{
    height: 60px;
    width: 40px;
    background-color:#e7a9ee;
        position: absolute;
    border-radius:  0px 107px;
    rotate: -30deg;
    top: 50%;
    left: 20px;
}
#main .second .right .box .side .secir
{
    height: 60px;
    width: 50%;
    background-color:#e7a9ee;
    position:absolute;
    top: -1%;
    left: -17%;
    border-radius: 0px 100px ;

}
#main .second .right .box .side .boxes{

   height: 42px;
    width: 101%;
    background-color: #e7a9ee;
    position:absolute;
    top: 79%;
    left:0%;
    border-radius: 0px 25px 20px 0px;
}








#main .third {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: calc(100% - (50% + 120px));
}

#main .third .box1 {
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    height: 50%;
    padding-left: 30px;
    margin-top: 30px;
    /* background: transparent; */
    /* background-color:cadetblue; */
}

#main .third .box1 .up {
    display: flex;
    align-items: center;
    justify-content: start;
    /* background-color: antiquewhite; */
    width: 100%;
    height: 20%;
    margin-bottom: -20px;
}

#main .third .box1 .up h4 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    color: white;
}

#main .third .box1 .up button {
    font-size: 3.7rem;
    background-color: black;
    border: none;
    color: white;
    border-radius: 100%;
}

#main .third .box1 .down {
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    /* background-color:red ; */
    padding-top: 50px;
    width: 100%;
    /* margin-bottom: -30px; */

}

#main .third .box1 .down div {
    width: fit-content;
    padding: 8px 10px;
    text-transform: capitalize;
    /* background-color: teal; */
    border-radius: 100px;

    line-height: 1;
    border: 2px solid white;

}

#main .third .box1 .down div h4 {
    display: inline;
    font-size: 26px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

#main .third div {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 15px;
    width: fit-content;
    height: 100%;
    width: 70%;
    margin-bottom: 20px;
    /* background-color: chocolate; */
}

#main .third div>.box
 {  display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    height: 70%;
    width: 43vh;
    background-color:rgb(255, 128, 0);
    position: relative;
    padding-left: 50px;
    border-radius: 15px 0px 15px 15px ;
}
#main .third div>.box:nth-child(1) .tri
{
    background-color:rgb(255, 128, 0) ;
}
#main .third div>.box:nth-child(1) .boxs
{
    background-color:rgb(255, 128, 0) ;

}

#main .third div>.box h4
{
    /* padding-top: 40px; */
    position: relative;
    left: 0%;
    font-size: 22px;
    font-weight: 500;
    text-transform:uppercase ;
    
}
#main .third div>.box img{
    height: 100px;
    width: 100px;
    padding-bottom: -50px;
}
#main .third div>.box:nth-child(2)
{   display: flex;
    align-items: start;
    background-color:#e6f0f2;
    position: relative;
    padding-left: 0%;
    
}
#main .third div>.box:nth-child(2) .icon
{   
    display: flex; 
    align-items: center;
    justify-content:space-between;
    height: 80px;
    width: 100%;
    padding: 0px 30px;
}
#main .third div>.box:nth-child(2) .icon #up
{
    font-size: 50px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.74);
}

#main .third div>.box:nth-child(2) .icon .left
{
    width: fit-content;
    height: fit-content;

}
#main .third div>.box:nth-child(3){
    background-color: yellow;
}

#main .third div>.box:nth-child(3) .tri
{
    background-color: yellow;
}
#main .third div>.box:nth-child(3) .boxs
{
    background-color: yellow;
}

#main .third div>.box:nth-child(2) h1{
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 30px;
}
#main .third div>.box:nth-child(3) h4{
    padding-top: 22px;
}

#main .third div>.box:nth-child(3) 
h1
{
       font-size: 6rem;
}
#main .third div>.box:nth-child(3) h5{
    font-size: 3rem;
    position: relative;
    top: 20%;
    left: 50%;
}

#main .third div>.box .boxs
{
    height: 50px ;
    width: 130px;
    background-color: #e6f0f2;
    position: absolute;
    top: -7%;
    right:0%;
    border-radius: 7px 15px 0px 0px ;
}
#main .third div>.box .tri
{
    height: 50px ;
    width: 32px;
    background-color: #e6f0f2;
    position: absolute;   
    top: -7%;
    left: 55%;
    border-radius: 0px 10px 0px 0px;
    clip-path: polygon(0 47%, 99% 100%, 100% 0);


}